<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chicken Wings Shoes Store</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Get yo' shoes on!!
                    </a>
                </li>
                <li>
                    <div>
                       <form action='/store_results' class="navbar-form navbar-left">
                         <div class='form-group'>
                           <li><input id='name' name='name' class='form-control' type='text' placeholder="case too sensitive"></li>
                           <li><button type="submit" class="btn btn-success">Search Store</button></li>
                         </div>
                       </form>
                    </div>
                </li>
                <li>
                    <div>
                       <form action='/brand_results' class="navbar-form navbar-left">
                         <div class='form-group'>
                           <li><input id='name' name='name' class='form-control' type='text' placeholder="case too sensitive"></li>
                           <li><button type="submit" class="btn btn-success">Search Brand</button></li>
                         </div>
                       </form>
                    </div>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <h1>{{ brand.getName }}</h1>

                            {% if stores is not empty %}
                                <p>Stores for this brand:</p>
                                <ul>
                                    {% for store in stores %}
                                        <li>{{ store.getName }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <h4>Add a store to this brand:</h4>

                            <form action='/add_stores' method='post'>
                                <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getId }}">
                                <label for="store_id">Select a store</label>
                                <select id='store_id' name='store_id' type='text'>
                                  {% for store in all_stores %}
                                    <option value="{{ store.getId }}"> {{ store.getName }} </option>
                                  {% endfor %}
                                </select>
                                <button type='submit' class="btn-success">Add brand</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>

